[user]
	email = vlcek.a@email.cz
	name = TonyVlcek

[alias]
	co = checkout
	ci = commit
	st = status
	ai = add --interactive
	ap = add --patch

	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	quick-stats = ! /usr/local/bin/git-quick-stats

[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"

[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[core]
	autocrlf = input
	fileMode = false

[color]
	branch = auto
	diff = auto
	status = auto
	showbranch = auto
	interactive = true
	ui = true
[push]
	default = simple
